<div class="mdc-layout-grid__inner footer">
    <div class="mdc-layout-grid__cell AboutUs">
        <h3><b>AboutUs</b></h3>
        <p><b>Telgro:</b>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint animi eum mollitia, hic voluptas dolorem id temporibus, possimus natus consectetur perferendis dolor fuga. Odio, error! Recusandae tempore error dolor architecto?</p>
    </div>
    
    <div class="mdc-layout-grid__cell ContactUs">
        <h3><b>Contact Us</b></h3>
        <p><i class="material-icons">home</i><a> Seattle,WA 10012,</a></p>
        <p><i class="material-icons">mail</i><a>info@gmail.com</a></p>
        <p><i class="material-icons">phone</i><a> + 01 234 567 88</a></p>
        <p><i class="material-icons">print</i><a> + 01 234 567 89</a></p> 
    </div>

    <div class="mdc-layout-grid__cell copyright">
        <p> copyright @ Twinesoft 2018</p>
    </div>

    <div class="mdc-layout-grid__cell social">
            <div class="facebook" href="#"><img src="assets/facebook.png"></div>
            <div class="google-plus"><img src="../../../assets/google.png"></div>
            <div class="linkedin"><img src="../../../assets/linkedin.png"></div> 
            <div class="twitter"><img src="../../../assets/twitter.png"></div>
    </div>
        
</div>