.navbar {
    height: 100px;
    width: 100%;
    background-color: rgb(85, 85, 85);
}

.btnMenu {
    width: auto;
    background-color: blue;
    padding-bottom: 3px;
    float: left;
    position: absolute;
     left:3%;
     top:30%
}

.btnMenu i {
    font-size: 18px;
    margin-top: 9px;
    margin-left: -4px;
    float: left;
    padding-right: 6px;
}

#appName {
    position: absolute;
        left: 40%;
        top:  26px;
    color: honeydew; 
    font-size: 35px;
    text-decoration: none;   
}

#signUp {
    position: absolute;
        left: 80%;  
    color: white;  
}

#signUp a {
    padding: 20px;
}

#help {
    position: absolute;
        right:1%;
        top:34px;
}

#help i {
    color:white;
    font-size: 25px; 
}

.profile {
    position: absolute;
        left: 500px;
}

.btn-outline-primary img {
    padding: 5px;    
    margin-bottom: 3px;
}
