.navbar {
    height: 100px;
    width: 100%;
    background-color: rgb(85, 85, 85);
    color: #fff;
}

.navbar button {
    width: 100px;
}

.btn i {
    font-size: 15px;
}

.menu {
    margin-left: 10%;
    margin-right: 5%;
}

#appName {
    position: absolute;
        left: 40%;
        top:  26px;
    color: honeydew; 
    font-size: 35px;
    text-decoration: none;   
}

#signUp {
    position: absolute;
        left: 80%;    
}

#signUp a {
    padding: 20px;
}

#help {
    position: absolute;
        right:1%;
        top:34px;
}

#help i {
    color:white;
    font-size: 25px; 
}

.profile {
    position: absolute;
        left: 500px;
}

.btn-outline-primary img {
    padding: 5px;    
    margin-bottom: 3px;
}
