.eula {
    width: 90%;
    padding: 20px;
    background-color: rgb(206, 233, 221);
    height: 400px;
    margin-left: 75px;
    margin-top: 75px;
    box-shadow: 5px 5px 5px 5px #888888;
    overflow: auto;
}

.eula button { 
    float: right;
    margin-right: 20px;
}

.chkAccept {
    float: left;
    margin-left: 696px;
    margin-top: 5px;
    size: 22px;
    font-size: 15px;
}
