<div class="userinfo">
    <ul>
        <li>
            <h6>First Name: {{registerService.data.firstName}}</h6>
        </li>
        <li>
            <h6>Last Name: {{registerService.data.lastName}}</h6>
        </li>
        <li>
            <h6>email: {{registerService.data.email}}</h6>
        </li>
    </ul>

    <img src="{{registerService.data.photoUrl}}">

    <div class="btnContinueCancel">
        <button mat-raised-button color="primary" class="btnContinue" (click)="onContinue()">Continue</button>
        <button mat-raised-button color="warn" class="btnCancel" (click)="openDialog()">Cancel</button>
    </div>

</div>
