<div *ngFor='let fbDetail of fbDetails' class="userinfo">
    <ul>
    <li>
    <h6>First Name: {{fbDetail.name}}</h6>
    </li>
    <!-- <li>
    <h6>Last Name: {{fbDetail.lastName}}</h6>
    </li>
    <li>
    <h6>email: {{fbDetail.email}}</h6>
    </li>
    <li>
    <h6>Contact: {{fbDetail.contact}}</h6>
    </li>
    </ul>
     
    <img src="{{fbDetail.image}}"> -->
    </ul>
     heyllll
    <div>
    <button class="btn btn-success" (click)="onContinue()">Continue</button>
    <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
    </div>
     
    </div>