<router-outlet></router-outlet>
<!-- <div class="alertsContainer" [@alerts]="filteredAlerts">
    <lib-alerts></lib-alerts>
    <input type="text" [(ngModel)]="message">
    <button class="btn-addNewAlert" (click)="addNewAlert()">Add New Alert</button>
</div> -->
<app-footer></app-footer>


<!-- <div class="mdc-layout-grid main">
     <div class="mdc-layout-grid__inner inner">
        <div class="mdc-layout-grid__cell">
             <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell second"><span>Second level</span></div>
                <div class="mdc-layout-grid__cell second"><span>Second level</span></div>
            </div> 
        </div>
        <div class="mdc-layout-grid__cell first1">First level</div>
        <div class="mdc-layout-grid__cell first2">First level</div>
    </div> 
</div> -->

<!-- <div class="mdc-layout-grid main">
        <div class="mdc-layout-grid__inner inner">
          <div class="mdc-layout-grid__cell box">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell">
                  <mat-checkbox color="primary" class="mdc-layout-grid__cell">
                      I agree all the<a href=""> Terms and Conditions </a>
                  </mat-checkbox>
                </div>
             </div>
         </div>
            <div class="mdc-layout-grid__cell box2">I agree all the
                <a href=""> Terms and Conditions </a>
            </div>            
            <div class="mdc-layout-grid__cell box3">
                I agree all the<a href=""> Terms and Conditions </a>
                <div class="mdc-layout-grid__inner">
                        <button mat-raised-button color="primary" class="mdc-layout-grid__cell btnAccept">Accept</button>
                        <button mat-raised-button color="warn" class="mdc-layout-grid__cell btnDecline">Decline</button>  
                </div>   
            </div>
          <div class="mdc-layout-grid__cell box4">

            <div class="mdc-layout-grid__inner">

                <div class="mdc-layout-grid__cell chkAccept">
                        <mat-checkbox color="primary">I agree all the
                            <a href=""> Terms and Conditions </a>
                        </mat-checkbox>                
                    <button mat-raised-button color="primary" class="mdc-layout-grid__cell btnAccept">Accept</button>
                    <button mat-raised-button color="warn" class="mdc-layout-grid__cell btnDecline">Decline</button>            
                </div>
            </div>
          </div>    
    </div>
</div> -->