
.alertsContainer{
   height: 220px;
   padding: 10px;
   /* background-color: palevioletred; */
   /* width: auto; */
}
.btn-addNewAlert{
    margin-left: 0px;
    margin-top: 11px;
}
input{
    width: 290px;
    margin-top: 11px;
}
